# ---------------------------------------------------------
# This is an example .env file for the EE243 project. 
# Fill in the paths and variables as needed in a new file, 
#                        .env
# ---------------------------------------------------------

# Root of this repository
PROJECT_ROOT= /path/to/EE243-Project

# Path to official SAM2 repository
SAM2_ROOT= /path/to/sam2

# Path to DAVIS dataset root
DAVIS_ROOT= /path/to/DAVIS

# Python executable for SAM2 environment
SAM2_PYTHON= 

# SAM2 checkpoint
SAM2_CHECKPOINT= /path/to/sam2/checkpoints/sam2.1_hiera_small.pt

# Output directory
RESULTS_DIR= /path/to/EE243-Project/results